{% extends "base.html" %}

{% block content %}
<br/>
<h1>비밀번호 초기화</h1>
<hr/>
<div class="container my-3">
    <form method="post" action="{% url 'accounts:signup' %}">
        {% csrf_token %}
        {% include "accounts/form_errors.html" %}
        <div class="mb-3">
            <label for="email">이메일</label>
            <input type="text" class="form-control" name="email" id="email"
                   value="{{ form.email.value|default_if_none:'' }}">
        </div>

        <button type="submit" class="btn btn-primary">비밀번호 찾기`</button>
{#        <button type="button" class="btn btn-primary" onclick="location.href='/accounts/login/'">로그인</button>#}
    </form>
</div>
{% endblock %}
